/*General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #000000, #103359) no-repeat;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/*Transition*/

a, .btn {
  transition: all 300ms ease;
}

/*Top-section*/

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  transition: font-size 300ms ease;
}

a:hover {
  color: lightgrey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: lightgrey;
  font-size: 2.3rem;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.title {
  font-size: 2rem;
  color: white;
  margin-right: 43vh;
}

.title:hover {
  cursor: default;
}

/*Introduction*/

#mid-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: url("Components/assets/mountain.jpg") no-repeat center;
  background-size: 100% 80%;
  cursor: default;
}

.greeting-container {
  display: flex;
  color: white;
  margin: 40vh 20vh 20vh 30vh;
  width: 100%;
  height: 100%;
}

.greeting1 {
  font-size: 2vw;
  width: 70vh;
}

.greeting2 {
  font-size: 4vw;
  width: 70vh;
}

.greeting3 {
  font-size: 1.5vw;
  margin-top: 20px;
  width: 70vh;
}

.greeting .logo {
  margin-top: 50px;
}

.portrait {
  margin: 5vh 10vh 40vh 30vh;
}

.picture{
  width: 20vw;
  height: 50%;
  border-radius: 60%;
}

/*About-me*/

#about-me {
  display: flex;
  margin: 50vh 38vh 10vh;
  position: relative;
  height: 100vh;
}

.aboutMe {
  width: 100%;
}

.aboutMe .about-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2f8dd0;
  margin-bottom: 2vh;
}

.about-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.golf {
  width: 500px;
  height: auto;
}

.intro-container {
  flex-direction: column;
}

.aboutMe .introduction {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  background-color: #103359;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.skill-container {
  font-size: 2rem;
  color: #2f8dd0;
  margin: 20px;
}

.skill-logo{
  width: 120px;
  height: 120px;
  margin: 20px 40px;

}

/*Project-section*/

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f8dd0;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.project-container .title {
  margin: 2vh 0;
}

.project-container h1 {
  color: white;
  font-size: 5rem;
}

.projects {
  text-align: center;
  display: flex;
}

.project {
  margin: 2vh 5vh 10vh 10vh;
}

.project h2 {
  color: white;
  margin-bottom: 2vh;
  font-size: 3rem;
}

.project img {
  width: 50vh;
  height: 30vh;
}

/*Contact*/

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.contact-container h2 {
  color: white;
  font-size: 3rem;
  margin: 5vh;
}

.contact-information {
  margin-left: 5vh;
  margin-bottom: 5vh;
}

.contact-information p {
  font-size: 2rem;
  margin: 5px;
}