
/*Introduction*/

#introduction-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    background: linear-gradient(-135deg, transparent 4.5em, #7d388d 0);
}

.diff-backcolor {
    height: 100vh;
    width: 50%;
    background-color: #a7dc9a;
    position: absolute;
    top: 0;
    left: -50%;
    animation: colorChange 2s ease-in-out forwards;
}

@keyframes colorChange {
    to {
        left: 0;
        background-color: #a7dc9a;
    }
}

.introduction {
    position: absolute;
    color: white;
    font-size: 4.5vw;
    width: 140vh;
    white-space: pre-line;
}

.animate-letters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-letters .letter {
    animation: bounce 0.5s alternate forwards;
}

.animate-letters .name {
    animation: bounce 0.5s alternate forwards;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    left: 10vh;
    border: white;
    border-radius: 20px;
    background-color: white;
}

.link {
    width: 2.5vw;
    height: 2.5vw;
    padding: 1.5vw;
    transition: font-size 300ms ease;
}

.link:hover {

    width: 2.6vw;
    height: 2.6vw;
}

/*Menu-section*/

.folded-page {
    position: absolute;
    top: 0;
    right: -5px;
    width: 100px;
    height: 100px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: #a7dc9a;
    border: 3px solid #92b28d;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.click-me {
    position: absolute;
    top: 8vh;
    right: 12vh;
}

.click-img {
    width: 6vw;
    height: 6vw;
}

.menu-container {
    display: none;
}

.menu-container.open{
    display: flex;
    position: absolute;
    top: 30%;
    left: 81%;
    height: 24vw;
    width: 17vw;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    animation: slide-in 0.5s ease-in forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

.menu-container.close{
    display: flex;
    position: absolute;
    top: 30%;
    left: 81%;
    height: 24vw;
    width: 17vw;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    animation: slide-out 1s ease-out forwards;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(400px);
    }
}

.menu-lists {
    width: 100%;
}

.menu-list {
    padding: 35px;
    list-style: none;
}

.menu-line {
    position: relative;
    top: -10px;
    right: -10px;
    background-color: black;
    height: 1px;
    width: 90%;
}

.menu-link {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
}

.menu-list:hover {
    background-color: #e5e4e4;
    border-radius: 10px;
    position: relative;
    top: -10px;
}

.menu-img {
    width: 2vw;
    height: 1.7vw;
    margin-right: 10px;
}

@media screen and (max-width: 1670px) {
    .menu-container.open {
        height: 46vh;
    }
    .menu-link {
        font-size: 1.3vw;
        margin: 10px;
        padding: 5px;
    }
}

@media screen and (max-width: 1300px) {
    .menu-container.open {
        height: 43vh;
    }
    .menu-list {
        padding: 35px;
    }
    .menu-link {
        font-size: 1.3vw;
        margin: 10px;
        padding: 5px;
    }
}

@media screen and (max-width: 1120px) {
    .menu-container.open {
        height: 40vh;
    }
    .menu-list {
        padding: 30px;
    }
    .menu-link {
        font-size: 1.3vw;
        margin: 10px;
        padding: 4px;
    }
}