/*Car-animation*/

.jeep-container {
  position: absolute;
  left: 0;
}

.jeep {
  width: 18%;
  height: auto;
  max-width: 100%;
  background: url("./Components/assets/jeep.png") no-repeat center/cover;
  animation: first-half 5s linear forwards;
}

.second-half {
  animation: second-half 5s linear forwards;
}

@keyframes first-half {
  0% {
    transform: translateX(-0.3vw) rotate(-7deg);
  }
  20% {
    transform: translate(10vw, -0.8vw) rotate(-7deg);
  }
  30% {
    transform: translate(14vw, -1.5vw) rotate(-8deg);
  }
  40% {
    transform: translate(20vw, -2.2vw) rotate(-13deg);
  }
  45% {
    transform: translate(22vw, -3vw) rotate(-8deg);
  }
  60% {
    transform: translate(29vw, -4vw) rotate(-8deg);
  }
  100% {
    transform: translate(48vw, -6.2vw) rotate(1deg);
  }
}

@keyframes second-half {
  0% {
    transform: translate(48vw, -6vw) rotate(1deg);
  }
  30% {
    transform: translate(62vw, -4.3vw) rotate(10deg);
  }
  50% {
    transform: translate(72vw, -3.3vw) rotate(10deg);
  }
  85% {
    transform: translate(82vw, -0.3vw) rotate(13deg);
  }
  100% {
    transform: translate(96vw, 1.2vw) rotate(-1deg);
  }
}

#hello-message {
  cursor: pointer;
  position: absolute;
  top: -11.5vw;
  left: 48vw;
  background-color: rgb(134,233,158);
  border: #1a1a1a solid 6px;
  border-radius: 50%;
}

.message {
  width: 7vw;
  font-family: 'Righteous', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1a1a1a;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.message::before {
  content: '';
  position: absolute;
  width: 2vw;
  height: 2.7vw;
  background-color: rgb(134,233,158);
  box-shadow: 2vw 2vw 10px rgba(0, 0, 0, 0.5);
  clip-path: polygon(80% 15%, 10% -5%, 0 50%);
  top: 90%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 0;
}

@media screen and (max-width: 2050px) {
  .jeep-container {
    top: 19vw;
  }

  .message {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1650px) {
  .jeep-container {
    top: 20vw;
  }

  .message {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1250px) {
  .jeep-container {
    top: 24.5vw;
  }
}

@media screen and (max-width: 1050px) {
  .jeep-container {
    top: 27.8vw;
  }
}

/*Snowfall-animation*/

.snow {
  width: 10px;
  height: 10px;
  position: absolute;
  pointer-events: none;
  background: url("./Components/assets/snowball.png") repeat center/cover;
  animation: snowfall linear infinite;
  border-radius: 50%;
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(70vh);
  }
}